<html lang="en" ng-app="albumModule">

<head>
	<link rel="stylesheet" href="css/bootstrap.css">
	<title>Sistema Music</title>
</head>

<body ng-controller="albumControl">
	<script src="js/jquery-3.3.1.slim.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/angular.js"></script>
	<script src="control/albumControl.js"></script>
	<div ng-include src="'menu.html'"></div>

	<div class="card border-secondary mb-3">
		<div class="card-header">Cadastro de &Aacute;lbuns</div>
	</div>

	<ul class="nav nav-tabs" id="albumTab" role="tablist">
		<li class="nav-item">
			<a class="nav-link active" id="cadastro-tab" data-toggle="tab" href="#cadastro" role="tab"
				aria-controls="tabCadastro" aria-selected="true">Cadastro</a>
		</li>
		<li class="nav-item">
                            <a class="nav-link" id="dados-tab" data-toggle="tab" href="#dados" role="tab" aria-controls="tabDados"
                               aria-selected="false">&Aacute;lbuns Cadastrados</a>
		</li>
	</ul>
	<div class="tab-content" id="albumTabContent">
		<div class="tab-pane fade show active" id="cadastro" role="tabpanel" aria-labelledby="cadastro-tab">
			<br>
			<button type="button" ng-click="novo()" class="btn btn-primary">Novo</button>
			<button type="button" ng-click="salvar()" class="btn btn-success">Salvar</button>
			<button type="button" ng-click="excluir()" class="btn btn-danger">Excluir</button>
			<button type="button" ng-click="pesquisar()" class="btn btn-warning">Pesquisar</button>
			<br>	<br>
			<form class="was-validated form-row">
				<div class="col-md-1 mb-3">
					<label for="txtCodigo">C&oacute;digo</label>
					<input type="text" ng-model="album.codigo" class="form-control" disabled id="txtCodigo">									
				</div>
			
				<div class="col-md-2 mb-3">
					<label for="txtTitulo">T&iacute;tulo</label>
					<input type="text" ng-model="album.titulo" class="form-control is-valid" id="txtTitulo" required>
					<div class="invalid-feedback">
						Digite o T&iacute;tulo.			
					</div>				
				</div>

				<div class="col-md-2 mb-3">
					<label for="txtBanda">Banda</label>
					<input type="text" ng-model="album.banda" class="form-control is-valid" id="txtBanda" required>
					<div class="invalid-feedback">
						Digite a Banda.			
					</div>				
				</div>

				<div class="col-md-2 mb-3">
					<label for="txtGravadora">Gravadora</label>
					<input type="text" ng-model="album.gravadora" class="form-control is-valid" id="txtGravadora" required>
					<div class="invalid-feedback">
						Digite a Gravadora do &Aacute;lbum.			
					</div>				
				</div>

				<div class="col-md-2 mb-3">
                                    <label for="txtLancamento">Lan&ccedil;amento</label>
					<input type="text" ng-model="album.lancamento" class="form-control is-valid" id="txtLancamento" required>
					<div class="invalid-feedback">
						Digite a data de lan&ccedil;amento.			
					</div>				
				</div>

				<div class="col-md-2 mb-2">
                                    <label for="txtDuracao">Dura&ccedil;&atilde;o</label>
					<input type="text" ng-model="album.duracao" class="form-control is-valid" id="txtDuracao" required>
					<div class="invalid-feedback">
						Digite a dura&ccedil;&atilde;o do &Aacute;lbum.			
					</div>				
				</div>

						
			</form>
		</div>
		<div class="tab-pane fade" id="dados" role="tabDados" aria-labelledby="dados-tab">
			<div role="tabpanel" class="tab-pane" id="dados">
				<input type="text" ng-model="criterio" class="form-control" 
				placeholder="O que voc&ecirc; est&aacute; procurando?" /><br />
				<table class="table table-hover">
						<thead>
								<tr>
									<th>C&oacute;digo</th>
									<th>T&iacute;tulo</th>
									<th>Banda</th>
									<th>Gravadora</th>
									<th>Lan&ccedil;amento</th>
									<th>Dura&ccedil;&atilde;o</th>
									
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="albunsTabela in albuns | filter:criterio"
										ng-click="seleciona(albunsTabela)">
									<td>{{albunsTabela.codigo}}</td>	
									<td>{{albunsTabela.titulo}}</td>	
									<td>{{albunsTabela.banda}}</td>	
									<td>{{albunsTabela.gravadora}}</td>	
									<td>{{albunsTabela.lancamento}}</td>	
									<td>{{albunsTabela.duracao}}</td>	
										
								</tr>
							</tbody>		
				</table>
				<span ng-show="(albuns | filter: criterio).length == 0">Infelizmente 
					n&atilde;o temos o que voc&ecirc; est&aacute; procurando</span>
			</div>

			
			</div>
	</div>

</body>

</html>