<html lang="en" ng-app="musicaModule">

<head>
	<link rel="stylesheet" href="css/bootstrap.css">
	<title>Sistema Music</title>
</head>

<body ng-controller="musicaControl">
	<script src="js/jquery-3.3.1.slim.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/angular.js"></script>
	<script src="control/musicaControl.js"></script>
	<div ng-include src="'menu.html'"></div>

	<div class="card border-secondary mb-3">
		<div class="card-header">Cadastro de M&uacute;sicas</div>
	</div>

	<ul class="nav nav-tabs" id="musicaTab" role="tablist">
		<li class="nav-item">
			<a class="nav-link active" id="cadastro-tab" data-toggle="tab" href="#cadastro" role="tab"
				aria-controls="tabCadastro" aria-selected="true">Cadastro</a>
		</li>
		<li class="nav-item">
                            <a class="nav-link" id="dados-tab" data-toggle="tab" href="#dados" role="tab" aria-controls="tabDados"
                               aria-selected="false">Musicas Cadastradas</a>
		</li>
	</ul>
	<div class="tab-content" id="musicaTabContent">
		<div class="tab-pane fade show active" id="cadastro" role="tabpanel" aria-labelledby="cadastro-tab">
			<br>
			<button type="button" ng-click="novo()" class="btn btn-primary">Novo</button>
			<button type="button" ng-click="salvar()" class="btn btn-success">Salvar</button>
			<button type="button" ng-click="excluir()" class="btn btn-danger">Excluir</button>
			<button type="button" ng-click="pesquisar()" class="btn btn-warning">Pesquisar</button>
			<br>	<br>
			<form class="was-validated form-row">
				<div class="col-md-1 mb-3">
					<label for="txtCodigo">C&oacute;digo</label>
					<input type="text" ng-model="musica.codigo" class="form-control" disabled id="txtCodigo">									
				</div>
			
				<div class="col-md-2 mb-3">
					<label for="txtNome">Nome</label>
					<input type="text" ng-model="musica.nome" class="form-control is-valid" id="txtNome" required>
					<div class="invalid-feedback">
                                            Digite o Nome da M&uacute;sica.			
					</div>				
				</div>

				<div class="col-md-2 mb-3">
					<label for="txtAlbum">&Aacute;lbum</label>
					<input type="text" ng-model="musica.album" class="form-control is-valid" id="txtalbum" required>
					<div class="invalid-feedback">
						Digite o &Aacute;lbum da M&uacute;sica.			
					</div>				
				</div>

				<div class="col-md-2 mb-2">
                                    <label for="txtDuracao">Dura&ccedil;&atilde;o</label>
					<input type="text" ng-model="musica.duracao" class="form-control is-valid" id="txtDuracao" required>
					<div class="invalid-feedback">
						Digite a dura&ccedil;&atilde;o da M&uacute;sica.			
					</div>				
				</div>
						
			</form>
		</div>
		<div class="tab-pane fade" id="dados" role="tabDados" aria-labelledby="dados-tab">
			<div role="tabpanel" class="tab-pane" id="dados">
				<input type="text" ng-model="criterio" class="form-control" 
				placeholder="O que voc&ecirc; est&aacute; procurando?" /><br />
				<table class="table table-hover">
						<thead>
								<tr>
									<th>C&oacute;digo</th>
									<th>Nome</th>
									<th>&Aacute;lbum</th>
									<th>Dura&ccedil;&atilde;o</th>
									
									
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="musicasTabela in musicas | filter:criterio"
										ng-click="seleciona(musicasTabela)">
									<td>{{musicasTabela.codigo}}</td>	
									<td>{{musicasTabela.nome}}</td>	
									<td>{{musicasTabela.album}}</td>	
									<td>{{musicasTabela.duracao}}</td>	
										
										
								</tr>
							</tbody>		
				</table>
				<span ng-show="(musicas | filter: criterio).length == 0">Infelizmente 
					n&atilde;o temos o que voc&ecirc; est&aacute; procurando</span>
			</div>

			
			</div>
	</div>

</body>

</html>